# Environment
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# Byte-compiled / build
build/
dist/
*.egg-info/

# Database
*.sqlite3

# Logs
*.log

# Coverage
.coverage
htmlcov/

# pytest
.pytest_cache/